[Unit]
Description=Drugs Checker Bot
After=network.target

[Service]
Type=simple
User=oskvortsov
WorkingDirectory=/home/oskvortsov/drug-check
Environment="NODE_ENV=production"
ExecStart=npm run start:service
Restart=always
RestartSec=10

# Убить процесс если он не останавливается за 30 секунд
TimeoutStopSec=30
KillSignal=SIGTERM
KillMode=mixed

[Install]
WantedBy=multi-user.target
